* {
  box-sizing: border-box;
}

.nav-pills {
  background-image: url('https://apod.nasa.gov/apod/image/1801/YuriAndLagunas_KLH.jpg');
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
